* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
  
  }
  
  .head {
   
  }
  
  .score {
    
  }
  
  .container {
  
  }
  
  .cell div {
    }
  
  .cell {
    
  }
  
  .front {
   
  }
  
  .back {
   
  }
  
  img {
   
  }
  
  .flip {
    
  }
  
  .match {
  
  }
  
  .show {
    
  }